.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* website-theme*/
html {
  background-color: #774936;
}
/* grid */

.grid-container{
  background-color: #EFD09E;
  display: grid;
  width: 60%;
  padding: 12px;
  border: 10px solid #D4AA7D;
    border-width: 3px;
    border-radius: 10px;
  margin: 50px auto auto auto;
    grid-template-rows: min-content;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    grid-template-areas: 
    ". . nav . ."
    ". post post post ."
    ". listing listing listing ."
}

.grid-header {
  grid-area: header;
}
h1.site-banner {
  margin-bottom: 0px;
  margin-top: 0px;
}

.website-header {
  font-family: 'Source Code Pro', monospace;
  color: #774936;
  background-color: #ffeed2;
  border: 10px solid #D4AA7D;
    border-width: 4px;
    border-radius: 10px;
}

.grid-nav {
  padding: 10px;
  grid-area: nav;
}

.nav-button {
  text-decoration:none;
  font-family: 'Source Code Pro', monospace;
  color: #774936;
  background-color: white;
  border: 10px solid #D4AA7D;
    border-width: 3px;
    border-radius: 10px;
  
  padding: 3px;
}

#home {
  margin-right: 60px;
}

.grid-post {
  grid-area: post;
  font-family: 'Source Code Pro', monospace;
  color: #774936;
  background-color: #ffeed2;
  border: 10px solid #D4AA7D;
    border-width: 3px;
    border-radius: 10px;
  
  grid-template-rows: min-content;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-template-areas: 
    "inputs inputs inputs"
    ". submit ."
}

#post-header {
  border-bottom: 10px dashed #D4AA7D;
    border-width: 3px;
    border-radius: 10px;
    width: 80%;
    margin: auto auto 10px auto;
    padding: 5px;
}

.input-type{
  grid-area: inputs;
  padding: 20px;
}

input {
  margin-top: 5px;
  padding: 3px;  
  border: 10px solid #D4AA7D;
    border-width: 3px;
    border-radius: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: #774936;
}

select {
  margin-top: 5px;
  padding: 3px;  
  border: 10px solid #D4AA7D;
    border-width: 3px;
    border-radius: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: #774936;
}

button {
  margin: 5px;
  padding: 3px;  
  border: 10px solid #D4AA7D;
    border-width: 3px;
    border-radius: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: #774936;
  background-color: #ffffff

}
button:hover{
  color: #ffeed2;
}
.grid-submit {
  grid-area: submit;
}

.grid-listing {
  grid-area: listing;
}

#listings-header{
  border-bottom: 10px dashed #D4AA7D;
    border-width: 3px;
    border-radius: 10px;
}
