.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* website-theme*/
html {
  background-color: #774936;
}


/* grid */

.grid-container{
  background-color: #EFD09E;
  display: grid;
  width: 60%;
  margin: 100px auto auto auto;
    grid-template-rows: min-content;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-template-areas: 
    "header header header"
    ". nav ."
    ". post ."
    ". listing ."
}

.grid-header {
  
  grid-area: header;
}
#website-header {
  font-family: 'Source Code Pro', monospace;
  color: #774936;
  border-bottom: 3px dashed #ffffff;
}

.grid-nav {
  grid-area: nav;
}
.grid-post {
  grid-area: post;
  
  
  grid-template-rows: min-content;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-template-areas: 
    "inputs inputs inputs"
    ". submit ."
}

.grid-post-input {
  grid-area: inputs;
}

.grid-submit {
  grid-area: submit;
}
.grid-listing {
  grid-area: listing;
}